<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.structure.greenboard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.structure.greenboard.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.structure.greenboard.permission.C2D_MESSAGE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.Splash.Splash_Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.NextActivity.NextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Tutorial.TutorialActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>